body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, black 50%, white 50%);
}

.title{
    display:flex;
    justify-content:space-evenly;
    width:100%;
    align-items:center;

    position:relative;
    top:30%;
}

.left, .right{
    font-size:80px;
    margin:5%;
    
}

.left{
    color:white;
}

.right{
    color:orange;
}

.bottom{
    font-size: 20px;
    color:white;
    margin-left: 5%;
    font-size: 25px;
   position:fixed;
   bottom: 20px;
   left:20px;
}

a{
    text-decoration: none;
    color:cornflowerblue;

}

a:hover{
    color:deepskyblue;

}