*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    font-size: 50px;
    color:orange;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background-color: black;
    animation:backgroundChange 2s forwards;
    
  }
  
  @keyframes backgroundChange {
    0% {backgound-color: black
    }

    100% {background-color: white;}
  }


.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    

}

.up{
    opacity:0;
    position:absolute;
    animation: fadeInOut;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  
}

@keyframes fadeInOut{
 0%{
    opacity:0;
 }
 50%{
    opacity:1;
 }
 70%{
    opacity:1
 }
 100%{
    opacity:0;
 }
}

p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.credits{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    opacity:0;
    animation: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@keyframes fadeIn{
    to{
        opacity:1;
    }
}

a{
    
    color:cornflowerblue;
}