body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    font-size: 50px;
    color:orange;
    
    
    
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  

}

.star{
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2s;


}

@keyframes zoomIn{
    from{
        
    }
    to{
        transform: rotate(720deg) scale(20) translate(-40%,0);
    }


}
