*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "parkside", cursive;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  height: 100vh;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  background-color: black;
  animation:backgroundChange 3s forwards;
  animation-delay: 3s;
}

@keyframes backgroundChange {
  0% {backgound-color: black
  }
  90% {backgound-color: black
  }
  100% {background-color: white;}
}

.container{
  position: relative;
  text-align: center;
}


.up{
  
  color:white;
  position:absolute;
  white-space: nowrap;
  display:block;
  animation: dropDown 3s forwards;
}

.down{
  display: flex;
  flex-direction: row;

  color:cornflowerblue;
  opacity: 0;
  display: inline-block;
  animation: fadeIn 5s forwards; 
  animation-delay: 2s;

}

a{
  color:orange;
  text-decoration: none;
}


@keyframes dropDown {
    0%{
      transform: translateY(-500%) scale(2);
      opacity: 0;
    }
    10% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    50%{
      transform: translateY(0);
      opacity: 1;
      text-shadow: 0 0 10px lightgoldenrodyellow;

    }
    60% {
      transform: translateY(0);
      opacity: 1;
      text-shadow: 0 0 0px lightgoldenrodyellow;
    }
    100%{
      transform: translateY(0);
      opacity: 0;
    }
}
  
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zoomOut:hover{
  animation-name: scale;
  animation-duration: 10s;
  animation-iteration-count: infinite;


}

@keyframes scale{
  from{
      transform:scale(1);
      opacity:1;
  }
  to{
      transform:scale(3);
      opacity:0.3;
  }

}