body{
  font-family: "parkside", cursive;
  font-weight: 300;
  font-style: normal;
  height: 100vh;
  font-size: 50px;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  animation:backgroundChange 3s forwards;
  animation-delay: 3s;
}

@keyframes backgroundChange {
  0% {backgound-color: black
  }
  90% {backgound-color: black
  }
  100% {background-color: white;}
}

.container{ 
  
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  position: relative;
  
} 

.container .up{
  color:white;
  display:block;
  animation: dropDown 4s forwards;
}

.container .down{

  color:cornflowerblue;
  opacity: 0;
  display: inline-block;
  animation: fadeIn 5s forwards; 
  animation-delay: 3s;

}

a{
  color:orange;
  text-decoration: none;
}

a:hover{
  
  font-size: larger;

}

@keyframes dropDown {
    0%{
      transform: translateY(-500%);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    50%{
      transform: translateY(0);
      opacity: 1;
      text-shadow: 0 0 20px lightgoldenrodyellow;

    }
    60% {
      transform: translateY(0);
      opacity: 1;
      text-shadow: 0 0 10px lightgoldenrodyellow;
    }
    100%{
      transform: translateY(0);
      opacity: 0;
    }
}
  
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

