body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    font-size: 50px;
    background-color: orange;
    color:white;
    
    
    
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    Opacity:0;
    animation-name:moveIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  

}

@keyframes moveIn{
    to{opacity:1;
    }
}     

a{
    text-decoration: none;
    color:cornflowerblue;
    
}