*{
    
    padding:0;
    box-sizing: border-box;
  }
  
body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    font-size: 50px;
    background-color: black;
    color: white;
}   
    

.center{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation-name: scale;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes scale{
    from{
        transform:scale(3);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }

}

a{
    color:cornflowerblue;
    text-decoration: none;
    
}

a:hover{
    color:orange;
}


   