*{
    
    padding:0;
    box-sizing: border-box;
  }
  
  
body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    min-height:100vh;
    font-size: 50px;
    
}

.center{
    color: cornflowerblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.up{

    Opacity:0;
    animation-name:fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


@keyframes fadeIn{

    to{ opacity:1;}
}

.down{
    font-size: 60px;
    display: flex;
    flex-direction: row;
   
}

#one{
    opacity:0;
    animation-name: flyIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#two{
    margin:0 10px;
    opacity:0;
    animation-name: flyIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#three{
    opacity:0;
    animation-name: flyIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}


@keyframes flyIn{
    from{
        opacity:0;
        transform:scale(20);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

a{
  color:orange;
  text-decoration: none;

}

a:hover{
    color:deepskyblue;
}


