body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    font-size: 50px;
    
    
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:cornflowerblue;

}

.up{
    
    animation-name:zoomOut;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.down{
    opacity:0;
    animation-name:zoomOut;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes zoomOut{
    from{
        opacity:0;
        transform:scale(10);
    }
    to{
        opacity:1;
        transform:scale(1);
    }

}

a{
    text-decoration: none;
    color:orange;
    
}

a:hover{
    
    font-weight: bolder;

}