*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background-color: black;
    animation:backgroundChange 4s forwards;
    animation-delay: 2s;
    
}

@keyframes backgroundChange {
    0% {backgound-color: black;
    }
    90% {backgound-color: black;
    }
    100% {background-color: white;}
}

.center{
    position: relative;
    text-align: center;
}

.up{
    color: white;
    position:absolute;
    opacity:0;
    white-space: nowrap;
    animation:slideInOut 6s forwards;

}


@keyframes slideInOut{
    0% {
        opacity: 0;
        transform: translateX(100%);
      }
      10% {
        opacity: 1;
        transform: translateX(-40%);
      }
      40% {
        opacity: 1;
        transform: translateX(-40%);
      }
      50% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 0;
        transform: translateX(-200%);
      }
} 

.down{
    color:cornflowerblue;
    display: block;
    opacity: 0;
    animation: fadeIn 3s forwards; 
    animation-delay: 3s;
  
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

a{
    text-decoration: none;
    color:orange;
    
}

a:hover{
  font-size: 55px;
  

}