body{
    font-family: "parkside", cursive;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    font-size: 50px;
    color:orange;
    
    
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.up{
    
    animation-name:fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.down{

    opacity:0;
    display: flex;
    flex-direction: row;
    animation-name:fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;   
    }

}

a{
    text-decoration: none;
    color:cornflowerblue;
    padding: 0 10px;
    
}

#rotate:hover{
    animation-name: scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;


}

@keyframes scale{
    from{
        transform:scale(1);
        opacity:1;
    }
    to{
        transform:scale(3);
        opacity:0;
    }

}